gensim
git+https://github.com/boudinfl/pke.git
!python -m spacy download en
bert-extractive-summarizer --upgrade --force-reinstall
spacy==2.1.3 --upgrade --force-reinstall
-U nltk
-U pywsd
flashtext
flask requests pywsd nltk
